/.obsidian/
/public/
/resources/_gen/
/.hugo_cache/
/.hugo_build.lock
/.tmp_hugo_check/
/.tmp_hugo_cache/
/hugo-build.log
/.tmp_hugo_profile/
/public-preview/
/generated-paths.txt
/.tmp_hugo_repro/
/.tmp_hugo_verify/
/.tmp_layout_probe/
/.tmp_layout_probe2/
/.tmp_probe_*.toml
/.tmp_server_probe*.toml
/hugo-repro.err.log
/hugo-repro.out.log
/hugo-server.err.log
/hugo-server.out.log
/hugo1313.err.log
/hugo1313.out.log
/public-build-check/
/old_data/
/old_images/
/old_partial/
*.base
