{{- $dest := .Destination -}}
{{- $text := .Text | safeHTML -}}
{{- $title := .Title -}}
{{- $isMarkdownLink := strings.HasSuffix $dest ".md" -}}
{{- $isRemote := or (hasPrefix $dest "http://") (hasPrefix $dest "https://") (hasPrefix $dest "mailto:") (hasPrefix $dest "#") -}}

{{- if and $isMarkdownLink (not $isRemote) .Page .Page.CurrentSection .Page.CurrentSection.File -}}
  {{- $sectionDir := .Page.CurrentSection.File.Dir -}}
  {{- $joined := path.Clean (path.Join $sectionDir $dest) -}}
  {{- $withoutContent := replace $joined "content/" "" -}}
  {{- $pagePath := strings.TrimSuffix ".md" $withoutContent -}}
  {{- $targetPage := site.GetPage $pagePath -}}
  {{- if $targetPage -}}
    <a href="{{ $targetPage.RelPermalink }}"{{ with $title }} title="{{ . }}"{{ end }}>{{ $text }}</a>
  {{- else -}}
    <a href="{{ $dest }}"{{ with $title }} title="{{ . }}"{{ end }}>{{ $text }}</a>
  {{- end -}}
{{- else -}}
  <a href="{{ $dest }}"{{ with $title }} title="{{ . }}"{{ end }}>{{ $text }}</a>
{{- end -}}
