<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&text=%E8%81%86%E8%81%BD%E7%9A%84%E6%B2%B3%E6%B5%81%E9%96%B1%E8%AE%80%E6%9B%B8%E5%AF%AB%E5%BF%83%E7%90%86%E9%9B%BB%E5%BD%B1%E4%BB%A5%E6%85%A2%E6%85%A2%E6%95%B4%E7%90%86%E6%83%85%E7%B7%92%E8%88%87%E4%B8%96%E7%95%8C%E7%9A%84%E6%B5%81%E5%90%91%E3%80%82%E3%83%BB%EF%BD%9C&display=swap">
<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | relURL }}">
<link rel="stylesheet" href="{{ "/css/salon.css" | relURL }}">
<script src="{{ "/js/salon.js" | relURL }}" defer></script>
<script src="{{ "/js/custom.js" | relURL }}" defer></script>
