{{- $dest := .Destination -}}
{{- $text := .Text -}}
{{- $title := .Title -}}
{{- $href := $dest -}}
{{- $isMarkdownLink := strings.HasSuffix $dest ".md" -}}
{{- $isRemote := or (hasPrefix $dest "http://") (hasPrefix $dest "https://") (hasPrefix $dest "mailto:") (hasPrefix $dest "#") -}}

{{- if strings.HasSuffix $text ".md" -}}
  {{- $text = strings.TrimSuffix ".md" $text -}}
{{- end -}}

{{- if and $isMarkdownLink (not $isRemote) .Page .Page.File -}}
  {{- $baseDir := path.Dir .Page.File.Path -}}
  {{- $targetLogicalPath := "" -}}

  {{- if hasPrefix $dest "/" -}}
    {{- $targetLogicalPath = strings.TrimSuffix ".md" (strings.TrimPrefix "/" $dest) -}}
  {{- else -}}
    {{- if eq .Page.File.BaseFileName "index" -}}
      {{- $baseDir = path.Dir (strings.TrimSuffix "/" .Page.File.Dir) -}}
    {{- end -}}
    {{- $targetLogicalPath = strings.TrimSuffix ".md" (path.Clean (path.Join $baseDir $dest)) -}}
  {{- end -}}

  {{- if $targetLogicalPath -}}
    {{- $href = printf "/%s/" (strings.TrimPrefix "/" $targetLogicalPath) -}}
  {{- end -}}
{{- end -}}

<a href="{{ $href }}"{{ with $title }} title="{{ . }}"{{ end }}>{{ $text | safeHTML }}</a>
