{{- $publisherType := site.Params.schema.publisherType | default "Organization" | title -}}
{{- $siteBase := cond (hasPrefix site.BaseURL "http") (site.BaseURL | strings.TrimRight "/") "https://listenriver.com" -}}
{{- $siteURL := printf "%s/" $siteBase -}}
{{- $siteName := site.Title | strings.TrimSpace -}}
{{- $siteDescription := site.Params.description | default site.Title | strings.TrimSpace -}}
{{- $favicon := site.Params.assets.favicon | default "favicon.ico" | absURL -}}
{{- $pageURL := printf "%s%s" $siteBase .RelPermalink -}}
{{- $langCode := .Language.Lang | default site.Language.Lang | default "zh-tw" -}}
{{- $authorName := site.Params.author | default site.Params.name | default $siteName -}}
{{- $currentName := .LinkTitle | default .Title | default .Name | strings.TrimSpace -}}

{{- $sameAs := slice -}}
{{- if site.Params.schema.sameAs -}}
  {{- range site.Params.schema.sameAs -}}
    {{- $sameAs = $sameAs | append (trim . " ") -}}
  {{- end -}}
{{- else if site.Params.salonFacebook -}}
  {{- $sameAs = $sameAs | append (trim site.Params.salonFacebook " ") -}}
{{- else -}}
  {{- range site.Params.SocialIcons -}}
    {{- $sameAs = $sameAs | append (trim .url " " | safeURL) -}}
  {{- end -}}
{{- end -}}

{{- $publisher := dict
  "@type" $publisherType
  "name" $authorName
  "url" $siteURL
-}}
{{- if eq $publisherType "Person" -}}
  {{- $publisher = merge $publisher (dict "image" $favicon) -}}
{{- else -}}
  {{- $publisher = merge $publisher (dict "logo" (dict "@type" "ImageObject" "url" $favicon)) -}}
{{- end -}}
{{- if gt (len $sameAs) 0 -}}
  {{- $publisher = merge $publisher (dict "sameAs" $sameAs) -}}
{{- end -}}

{{- if .IsHome -}}
  {{- $website := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" $siteName
    "url" $siteURL
    "description" $siteDescription
    "inLanguage" $langCode
    "publisher" $publisher
  -}}
  {{- $org := merge (dict
    "@context" "https://schema.org"
    "description" $siteDescription
  ) $publisher -}}
{{ printf "<script type=\"application/ld+json\">%s</script>" ($website | jsonify) | safeHTML }}
{{ printf "<script type=\"application/ld+json\">%s</script>" ($org | jsonify) | safeHTML }}
{{- end -}}

{{- if not .IsHome -}}
  {{- $items := slice (dict
    "@type" "ListItem"
    "position" 1
    "name" $siteName
    "item" $siteURL
  ) -}}
  {{- range .Ancestors.Reverse -}}
    {{- if not .IsHome -}}
      {{- $ancestorName := .LinkTitle | default .Title | default .Name | strings.TrimSpace -}}
      {{- $ancestorURL := printf "%s%s" $siteBase .RelPermalink -}}
      {{- if ne $ancestorURL $siteBase -}}
        {{- $items = $items | append (dict
          "@type" "ListItem"
          "position" (add (len $items) 1)
          "name" $ancestorName
          "item" $ancestorURL
        ) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $items = $items | append (dict
    "@type" "ListItem"
    "position" (add (len $items) 1)
    "name" $currentName
    "item" $pageURL
  ) -}}
  {{- $breadcrumbSchema := dict
    "@context" "https://schema.org"
    "@type" "BreadcrumbList"
    "itemListElement" $items
  -}}
{{ printf "<script type=\"application/ld+json\">%s</script>" ($breadcrumbSchema | jsonify) | safeHTML }}
{{- end -}}

{{- if .IsPage -}}
  {{- $description := .Description | default .Summary | default site.Params.description | strings.TrimSpace -}}
  {{- $keywords := slice -}}
  {{- with .Params.keywords -}}
    {{- range . -}}
      {{- $keywords = $keywords | append (. | strings.TrimSpace) -}}
    {{- end -}}
  {{- else -}}
    {{- range .Params.tags -}}
      {{- $keywords = $keywords | append (. | strings.TrimSpace) -}}
    {{- end -}}
  {{- end -}}

  {{- $socialImage := partial "templates/_funcs/get-social-preview.html" . -}}
  {{- $imageURL := index $socialImage "url" -}}

  {{- $pageType := cond (eq .Type "about") "AboutPage" "BlogPosting" -}}
  {{- $pageSchema := dict
    "@context" "https://schema.org"
    "@type" $pageType
    "headline" $currentName
    "name" $currentName
    "description" $description
    "url" $pageURL
    "inLanguage" $langCode
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" $pageURL)
    "author" (dict "@type" "Person" "name" $authorName)
    "publisher" $publisher
  -}}
  {{- if .Date -}}
    {{- $pageSchema = merge $pageSchema (dict "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")) -}}
  {{- end -}}
  {{- if .Lastmod -}}
    {{- $pageSchema = merge $pageSchema (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")) -}}
  {{- end -}}
  {{- with .Section -}}
    {{- $pageSchema = merge $pageSchema (dict "articleSection" .) -}}
  {{- end -}}
  {{- if gt (len $keywords) 0 -}}
    {{- $pageSchema = merge $pageSchema (dict "keywords" $keywords) -}}
  {{- end -}}
  {{- with $imageURL -}}
    {{- $pageSchema = merge $pageSchema (dict "image" .) -}}
  {{- end -}}
{{ printf "<script type=\"application/ld+json\">%s</script>" ($pageSchema | jsonify) | safeHTML }}
{{- end -}}
