{{- $publisherType := site.Params.schema.publisherType | default "Organization" | title }}
{{- $publisherName := site.Title | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace }}
{{- $siteDescription := site.Params.description | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | truncate 180 | strings.TrimSpace }}
{{- $favicon := site.Params.assets.favicon | default "favicon.ico" | absURL }}

{{- if .IsHome }}
  {{- $sameAs := slice }}
  {{- if site.Params.schema.sameAs }}
    {{- range site.Params.schema.sameAs }}
      {{- $sameAs = $sameAs | append (trim . " ") }}
    {{- end }}
  {{- else }}
    {{- range site.Params.SocialIcons }}
      {{- $sameAs = $sameAs | append (trim .url " " | safeURL) }}
    {{- end }}
  {{- end }}

  {{- $homeSchema := dict
    "@context" "https://schema.org"
    "@type" $publisherType
    "name" $publisherName
    "url" site.Home.Permalink
    "description" $siteDescription
    "sameAs" $sameAs
  }}
  {{- if eq site.Params.schema.publisherType "Person" }}
    {{- $homeSchema = merge $homeSchema (dict "image" $favicon) }}
  {{- else }}
    {{- $homeSchema = merge $homeSchema (dict "logo" (dict "@type" "ImageObject" "url" $favicon)) }}
  {{- end }}
<script type="application/ld+json">{{ $homeSchema | jsonify | safeHTML }}</script>

{{- else if or .IsSection (and .IsPage (eq .Type "about")) }}
  {{- $items := slice }}
  {{- with .Parent }}
    {{- $url := replace .Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $langURL := strings.TrimPrefix (printf "%s/" $.Lang) $url }}
    {{- $segments := split $langURL "/" }}
    {{- $scratch := newScratch }}
    {{- range $segments }}
      {{- if gt (len .) 0 }}
        {{- $scratch.Add "path" (printf "%s/" .) }}
        {{- with site.GetPage ($scratch.Get "path") }}
          {{- $items = $items | append (dict
            "@type" "ListItem"
            "position" (add (len $items) 1)
            "name" (.Name | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace)
            "item" .Permalink
          ) }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $items = $items | append (dict
    "@type" "ListItem"
    "position" (add (len $items) 1)
    "name" (.Name | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace)
    "item" .Permalink
  ) }}

  {{- $breadcrumbSchema := dict
    "@context" "https://schema.org"
    "@type" "BreadcrumbList"
    "itemListElement" $items
  }}
<script type="application/ld+json">{{ $breadcrumbSchema | jsonify | safeHTML }}</script>

  {{- if and .IsPage (eq .Type "about") }}
    {{- $description := .Description | default .Summary | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace }}
    {{- $keywords := slice }}
    {{- with .Params.keywords }}
      {{- range . }}
        {{- $keywords = $keywords | append (. | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace) }}
      {{- end }}
    {{- else }}
      {{- range .Params.tags }}
        {{- $keywords = $keywords | append (. | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace) }}
      {{- end }}
    {{- end }}

    {{- $imageURL := "" }}
    {{- if .Params.cover.image }}
      {{- if ne .Params.cover.relative true }}
        {{- $imageURL = .Params.cover.image | absURL }}
      {{- else }}
        {{- $imageURL = (path.Join .RelPermalink .Params.cover.image) | absURL }}
      {{- end }}
    {{- else }}
      {{- $images := partial "templates/_funcs/get-page-images" . }}
      {{- with index $images 0 }}
        {{- $imageURL = .Permalink }}
      {{- end }}
    {{- end }}

    {{- $pageSchema := dict
      "@context" "https://schema.org"
      "@type" "AboutPage"
      "name" (.Title | plainify | replace "\"" "" | replace "\r" " " | replace "\n" " " | replace "\t" " " | strings.TrimSpace)
      "description" $description
      "keywords" $keywords
      "inLanguage" (.Language.Lang | default "zh-TW")
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
      "publisher" (dict
        "@type" $publisherType
        "name" $publisherName
        "logo" (dict "@type" "ImageObject" "url" $favicon)
      )
    }}
    {{- with $imageURL }}
      {{- $pageSchema = merge $pageSchema (dict "image" .) }}
    {{- end }}
<script type="application/ld+json">{{ $pageSchema | jsonify | safeHTML }}</script>
  {{- end }}
{{- end }}